RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
Header always set Content-Security-Policy "upgrade-insecure-requests"


# Define custom error pages
ErrorDocument 404 /error-404.html	

# Rewrite rules for clean URLs
RewriteRule ^about-us$ about-us.html [L,NC]
RewriteRule ^portfolio/bliss$ bliss.html [L,NC]
RewriteRule ^services/creative-design-agency-in-ahmedabad/?$ creative-design-agency.html [L,NC]
RewriteRule ^services/digital-marketing-agency-ahmedabad/?$ digital-marketing-agency.html [L,NC]
RewriteRule ^portfolio/evershine-color-trendenchanting$ evershine-color-trendenchanting.html [L,NC]
RewriteRule ^/$ index.html [L,NC]
RewriteRule ^portfolio/kooyoo-enchanting$ kooyoo-enchanting.html [L,NC]
RewriteRule ^portfolio/moonshineenchanting$ moonshineenchanting.html [L,NC]
RewriteRule ^portfolio/nelsonenchanting$ Nelsonlaminates.html [L,NC]
RewriteRule ^portfolio/ranberry-trends$ ranberry-trends.html [L,NC]
RewriteRule ^services-page$ services-page.html [L,NC]
RewriteRule ^services/website-design-company-in-ahmedabad/?$ website-design.html [L,NC]
RewriteRule ^services/advertising-agency-in-ahmedabad/?$ advertising-agency.html [L,NC]
RewriteRule ^blogs$ blogs.html [L,NC]
RewriteRule ^blogs/$ blogs.html [L,NC]
RewriteRule ^portfolio/bravio-pastel-laminate$ bravio-pastel-laminate.html [L,NC]
RewriteRule ^portfolio/central$ central.html [L,NC]
RewriteRule ^portfolio/crysta-line$ crysta-line.html [L,NC]
RewriteRule ^portfolio/eco-woodamaurosis$ eco-woodamaurosis.html [L,NC]
RewriteRule ^portfolio/keton-micabeautiful$ keton-micabeautiful.html [L,NC]
RewriteRule ^portfolio/lammartcolor$ lammartcolor.html [L,NC]
RewriteRule ^portfolio/morbi-king$ morbi-king.html [L,NC]
RewriteRule ^portfolio/picsartelegance$ picsartelegance.html [L,NC]
RewriteRule ^portfolio/ranwood-rega$ ranwood-rega.html [L,NC]
RewriteRule ^services/ui-ux-design-company-in-ahmedabad/?$ ui-ux-design.html [L,NC]
RewriteRule ^services/3d-rendering-company-in-ahmedabad/?$ 3d-rendering.html [L,NC]
RewriteRule ^portfolio/atina$ atina.html [L,NC]
RewriteRule ^blogs-2$ blogs-2.html [L,NC]
RewriteRule ^services/catalogue-design-company-in-ahmedabad/?$ catalogue-design.html [L,NC]
RewriteRule ^contact-us$ contact-us.html [L,NC]
RewriteRule ^portfolio/dazzle-berryenpastel$ dazzle-berryenpastel.html [L,NC]
RewriteRule ^portfolio/fabrino-fabric$ fabrino-fabric.html [L,NC]
RewriteRule ^portfolio/kiana$ kiana.html [L,NC]
RewriteRule ^services/mobile-app-development-company-ahmedabad/?$ mobile-app-development.html [L,NC]
RewriteRule ^mr-velvet-ears$ mr-velvet-ears.html [L,NC]
RewriteRule ^portfolio$ Portfolio.html [L,NC]
RewriteRule ^services/exhibition-stall-design-company-ahmedabad/?$ exhibition-stall-design.html [L,NC]
RewriteRule ^portfolio/vanshlam$ vanshlam.html [L,NC]
RewriteRule ^blogs-(.+)/?$ blogsdetails.html?url=$1 [NC,L]
RewriteRule ^blogs/page/([^/\.]+)?$       blogs.html?page=$1 [NC,L]
